[Unit]
Description=Register QEMU binfmt_misc handlers
DefaultDependencies=no
After=local-fs.target
Before=sysinit.target proc-sys-fs-binfmt_misc.automount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/qemu-binfmt-register.sh

[Install]
WantedBy=multi-user.target
